.flicker {
  width: 100px;
  height: 100px;
  background-color: red; 
  animation: flicker 2s infinite;
}
@keyframes flicker {
0% { background-color: red;}
50% { background-color: #c7f360;}
100% { background-color: red;}
}

.red {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: redColor 2s infinite;
}
.yellow {
  width: 10px;
  height: 10px;
  background-color: yellow; 
  animation: yellowColor 2s infinite;
}
@keyframes yellowColor{
  0% {  
    background-color: yellow; 
  }
  50% {
    /*transform: scale(5);*мне кажется, что должно быть так, где туплю не знаю*/
    transform: scale(10);/*почему-то похоже работает при этой цифре */
    background-color: yellow;
  }
  100% {
    transform: scale(1);
    background-color: red;
  }
}
@keyframes redColor{
  0% {  
    background-color: red; 
  }
  50% {
    transform: scale(.5);
    background-color: red;
  }
  100% {
    transform: scale(1);
    background-color: yellow;
  }
}






